html{
	overflow-y: scroll;
	background-color: #eee;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
}
.halaman{	
	margin: 0 auto;
	padding-top: 50px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	width: 840px;
	/*height: 1188px; */
	/*height: 1028px; 
	width: 680px;
	padding: 80px;*/
	/*box-shadow: 0px 1px 2px 0px;*/
	/*border: 1px solid #ccc7c7;*/
	/*background: #000; margin: 0 auto;*/
	padding-bottom: 50px;
}
.tblKop{
	width: 90%;
	border-bottom: 2px solid black;
	margin: 0 auto;
}
.kota{
	font-size: 19pt;
	font-weight: bold;
	/*line-height: 35px;*/
}
.kecamatan{
	font-size: 22pt;
	font-weight: bold;
	line-height: 25px;
}
.kop_caption{
	width: 90%;
	text-align: center;	
}
.judul_laporan_portrait{
	margin: 50px 0 50px 0;
	text-align: center;
	font-weight: bold;
}
.table_container_portrait{
	margin: 0 auto;
}
.tblKelurahan{
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
}
.tblKelurahan tr th, .tblKelurahan tr td{
	border: 1px solid black;
}
.jumlah_total{
	border-top: 2px solid black;
	font-weight: bold;
}
.tandatangan{
	margin: 0 auto;
	margin-top: 50px;
}
.tblTtd{
	border-collapse: collapse;
}
.pembatas{
	border-bottom: 1px solid black;
}

/*==============================LANSCPACE======================================*/
.halaman_lsp{	
	margin: 0 auto;
	padding-top: 50px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	width: 1188px;
	/*height: 1188px; */
	/*height: 1028px; 
	width: 680px;
	padding: 80px;*/
	/*box-shadow: 0px 1px 2px 0px;*/
	/*border: 1px solid #ccc7c7;*/
	/*background: #000; margin: 0 auto;*/
	padding-bottom: 50px;
}
.tblKop{
	width: 90%;
	border-bottom: 2px solid black;
	margin: 0 auto;
}
.kota{
	font-size: 19pt;
	font-weight: bold;
	/*line-height: 35px;*/
}
.kecamatan{
	font-size: 22pt;
	font-weight: bold;
	line-height: 25px;
}
.kop_caption{
	width: 90%;
	text-align: center;	
}
.judul_laporan_portrait{
	margin: 50px 0 50px 0;
	text-align: center;
	font-weight: bold;
}
.table_container_portrait{
	margin: 0 auto;
}
.tblKelurahan_lsp{
	width: 90%;
	margin: 0 auto;
	border-collapse: collapse;
	font-family: "Arial Narrow", Arial, sans-serif;
	font-size: 8pt;
}
.tblKelurahan_lsp tr th, .tblKelurahan_lsp tr td{
	border: 1px solid black;
}
.jumlah_total{
	border-top: 2px solid black;
	font-weight: bold;
	/*position: relative;*/
}
.tandatangan_lsp{
	margin: 0 auto;
	margin-top: 50px;
	/*position: absolute;*/
}
.tblTtd_lsp{
	border-collapse: collapse;
}
.pembatas{
	border-bottom: 1px solid black;
}