html{
	overflow-y: scroll;
	/*background-color: #eee;*/
}
body {
	margin: 0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
	width: 1000px;
	border: 5px solid #eee;
	box-shadow: 0px 0px 10px 0px #999;
}
.header_admin{
	position: relative;
	height: 150px;
    background-image: url('assets/img/logo.jpg')
	background-color: #e8e8e8;
	border-bottom: 1px solid #ccc7c7;
}
.login_as{
	position: absolute;
	bottom:5px;
	right: 10px;
	background: #fff;
	padding: 0 5px;
	font-size: 10px;
}
.menu-atas{
	border-bottom: 1px solid #ccc7c7;
	height: 40px;
	background-color: #f3f3f3;
}
.container{
	width: 980px;
	display: inline-block;
	padding: 10px;
	vertical-align: top;
}

.footer{
	margin-top: 5px;
	/*border-top: 1px solid #e1e1e1;*/
	padding: 15px;
	background-color: #f6f6f6;
	text-align: center;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	border: 1px solid #555;
}

.menu li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.menu li {
	text-align: center;
	border-bottom: 1px solid #555;
}

.menu li:last-child {
	border-bottom: none;
}

.menu li a.active {
	background-color: #4CAF50;
	color: white;
}

.menu li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

ul.top-menu {
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f3f3;
}

.top-menu li {
	float: left;
	border-left: 1px solid #bbb;
}

.top-menu li a {
	display: block;
	color: #666;
	text-align: center;
	padding: 10px 18px;
	text-decoration: none;
}
.top-menu li a:hover {
	background-color: #555;
	color: white;
}
.top-menu li a.active{
	background-color: #4CAF50;
	color: white;
}
.top-menu li:hover ul.sub-menu{
	display: block;
}
.top-menu li ul.sub-menu {
	border-right: 1px solid #ccc;
	position: absolute;
	/*top:30px; */
	display:none;
}
ul .sub-menu{
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

.sub-menu li {
	width: 200px;
	list-style-type: none;
	border-top: 1px solid #ccc;
}
.sub-menu li:last-child {
	border-bottom: 1px solid #ccc;
}
.sub-menu li a {
	text-align: left;
	padding: 5px 10px;
	text-decoration: none;
}

/* Change the link color on hover */
.sub-menu li a:hover {
	background-color: #555;
	color: white;
}


.form-group{
	display: inline-block;
}
.form-caption{
	vertical-align: top;
	width: 150px;
	padding-top: 5px;
	padding-left: 15px;
	display: inline-block;
}
.form-control{
	margin: 3px 0;
	padding: 7px 5px;
	display: inline-block;
}
select.form-control{
	padding-right: 10px;
}
input.form-control{
	padding-left: 8px;
}
textarea.form-control{
	padding-left: 8px;
}
div.form-control{
	padding: 0;
}
.form-control.btn{
	display: inline-block;
}
select, input, textarea{
	width: 250px;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
table.table-hover tr:nth-child(even) {
	background-color: #f6f6f6;
}
table.table-hover tr:nth-child(odd) {
	background-color:#fff;
}
table.table-hover th	{
	background-color: #a1a1a1;
	color: white;
}
.table-hover{
	width: 100%;
}
.table-hover, .table-hover tr, .table-hover th, .table-hover td{
	border: 1px solid #ccc7c7;
	border-collapse: collapse;
}
.table-hover th, .table-hover td{
	padding: 5px 10px;
	text-align: left;
}
.table-hover tbody tr:hover{
	background-color: #f6f6f6;
}
.table-container{
	width: 1000px;

}

.btn{
	display: inline-block;
	padding: 6px 16px;
	width: auto;
	border: 1px solid transparent;
	cursor: pointer;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 14px;
}
.btn-success{
	background-color: #4CAF50;
	color: #fff;
	text-decoration: none !important;
	border-color: #4cae4c;
}
.btn-success:active{
	background-color: #6fc072;
}

.btn-danger{
	background-color: #d9534f;
	color: #fff;
	text-decoration: none !important;
	border-color: #d43f3a;
}
.btn-danger:active{
	background-color: #e16460;
}
.btn-xs{
	padding: 3px 8px;
	font-size: 10px;
}

.caption-header{
	font-weight: bold;
	margin-bottom: 10px;
}
.caption-success{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.caption-info{
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.error{
	color: red;
	margin-bottom: 10px;
}
.isi-container{
	width: 960px;
	padding: 10px;
}
.form-kelurahan{
	width: 500px; 
	border: 1px solid #ccc; 
	margin: 0 auto; 
	padding-bottom: 10px; 
	margin-top: 15px;
	margin-bottom: 15px;
}
.form-caption-header{
	font-weight: bold;
	margin-bottom: 10px;
	background-color: #f6f6fd;
	padding: 8px;
	border-bottom: 1px solid #ccc;
}

/** LOGIN  */
.login-container{
	width: 450px; 
	margin: 0 auto; 
	border: 1px solid #ccc7c7; 
	margin-top: 50px;
	margin-bottom: 50px;
}
.login-header{
	font-size: 16px;
	padding: 5px 0;
	border-bottom: 1px solid #ccc7c7; 
	background-color: #f2f2f2;
}
.login-data{
	text-align: left;
	padding: 15px;

}
.login-caption-header{
	font-weight: bold;
	margin-bottom: 10px;
}
.form-login{
	display: inline-block;
	margin: 3px 0;
}
.form-login-caption{
	width: 120px;
	padding-left: 15px;
	display: inline-block;
}
.form-login-control{
	width: 200px;
	height: 20px;
	display: inline-block;
}
button{
	padding: 2px 15px;
}
.error{
	color: red;
	margin-bottom: 10px;
}

.panel{
	border: 1px solid #ccc;
	margin: 20px 0;
}
.panel-heading{
	border-bottom: 1px solid #ccc; 
	background-color: #eee; 
	padding: 10px; 
	font-weight: bold;
}
.panel-body{
	padding: 10px;
}
.alinea{
	text-align: justify;
	line-height: 17pt;
}

/*Membuat Sub Menu*/

.menu ul.sub-menu {
	padding:0;
	margin:0;
	text-align:center;
	opacity:.9
}

.menu ul.sub-menu li {
	list-style-type:none;
	display:inline-block;

}

.menu li ul.sub-menu li a {
	text-decoration:none;
	color:#fff;
	background:#666;
	padding:7px;
	width:120px;
	display:block
}

.menu li ul.sub-menu li a:hover {
	background:#333;
	color:#000;
}

.menu li ul.sub-menu {
	position: absolute;
	top:30px; 
	display:none;
}

.menu li:hover ul.sub-menu {
	display:block;
}
.komentar{
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 15px;
}
.balasan-komentar{
	margin: 10px 5px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 80%;
	background-color: #f9f9f9;
	font-style: italic;
}
.sp_nik{
	width: 184px;
}
.lg-1{
	width: 100px;
}
.lg-2{
	width: 200px;
}
.lg-3{
	width: 300px;
}
.lg-4{
	width: 400px;
}
.lg-5{
	width: 500px;
}
textarea.lg-5{
	min-height: 100px;
}
textarea.sedang{
	min-height: 90px;
	min-width: 490px;
}

img.pembukaan {
    float: left;
    border: 1px dotted black;
    margin: 8px 20px 20px 0;
}
p.pembukaan{
 text-align: justify;
 line-height: 25px;
}
.pembukaan ol{
 line-height: 25px;
}
.header {
    
}
